body{
    font-size: 16px;
    font-weight: 300;
    padding: 0;
    background-color: #f0f0f0;
}
h1{
    margin: 0;
}
button {
	font-size: 1em;
	line-height: 1.4;
	cursor: pointer;
}

.hide {
	display: none;
}

.container {
    margin: 0 auto;
    padding: 1em;
    max-width: 1280px;
    width: 100%;
}
img, canvas{
    max-width: 100%;
}


/* intro stuff */

.story-form--input {
	font-size: 1em;
	line-height: 1.4;
	width: 50%;
}

.thinking {
	margin: 1em 0;
	color: #666;
}


/* canvas stuff */
.sim-canvas {
    position: relative;
    margin: 0 auto;
    transform: scale(0.5) translateX(-50%) translateY(-50%);
    -webkit-transform: scale(0.5) translateX(-50%) translateY(-50%);
}

.canvas--image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 0;
}

.canvas--watermark {
    position: absolute;
    right: 1em;
    top: 1em;
    opacity: 0.7;
    max-width: 8%;
}

.canvas--watermark img {
    width: 100%;
    display: block;
}

.canvas--quote {
    display: inline-block;
    position: absolute;
    padding: 1em;
    font-size: 28px;
    line-height: 1.4;
}

.canvas--quote p {
    margin: 0;
}

.quote--text {
    font-size: 1em;
}

.quote--credit {
    text-align: right;
    font-size: 0.8em;
}

.quote--credit:empty {
    display: none;
}

.quote--credit:before {
    content: '\02014';
    display: inline-block;
}


/* options */

.sim-canvas.light-on-dark {
    background: #1a1a1a;
}

.sim-canvas.dark-on-light {
    background: #fff;
}

.sim-canvas.top .canvas--quote {
    top: 0;
    bottom: auto;
}

.sim-canvas.middle .canvas--quote {
    top: 50%;

}

.sim-canvas.bottom .canvas--quote {
    bottom: 0;
    top: auto;
}

.sim-canvas.top .canvas--watermark {
    bottom: 1em;
    top: auto;
}

.dark-on-light .canvas--quote {
	color: #1a1a1a;
}

.light-on-dark .canvas--quote {
	color: #fff;
}

.light-on-dark .quote--credit {
	color: #dedede;
}

.dark-on-light .quote--credit {
	color: #434343;
}

.light-on-dark .canvas--quote.text-shadow p {
    text-shadow: 0 0 6px #1a1a1a;
}

.dark-on-light .canvas--quote.text-shadow p {
    text-shadow: 0 0 6px #efefef;
}

.canvas--quote.left {
    left: 0;
    right: auto;
    text-align: left;
}

.canvas--quote.center {
    width: 100%;
    text-align: center;
}

.canvas--quote.center .quote--credit {
    text-align: center;
}

.canvas--quote.right {
    right: 0;
    left: auto;
    text-align: right;
}



/* GUI */
.options--set {
    height: 100%;
    overflow: hidden;
    margin-bottom: 0.5em;
}
.options--item {
    float: left;
    padding-right: 2em;
    padding-bottom: 0.5em;
}
.options--item span {
    display: block;
}
.options--item input, .options--item select {
	padding: 5px;
    width: 100%;
}
.options--item label{
    display: block;
}
.options--item.option--text {
    width: 70%;
}
.options--item.option--credit {
    width: 30%;
}
.selected, .selected:hover {
    background-color: #666;
    color: #fff;
}
.sim-output p {
	/* CUSTOM FONT HERE */
	font-family: 'Benton', Helvetica;
	color: #666;
	margin-bottom: 1em;
}
.preview{
    background-color: #333;
    padding: 15px 0
}
.panel{
    border-radius: 0;
    box-shadow: 0 10px 35px rgba(0,0,0,0.2);
}
.well{
    padding: 15px;
}
.button, button, .btn{
    border-radius: 0;
}