* {
	box-sizing: border-box;
	moz-box-sizing: border-box;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	line-height: 1.4;
}

button {
	font-size: 1em;
	line-height: 1.4;
	cursor: pointer;
}

.hide {
	display: none;
}

.container {
    margin: 0 auto;
    padding: 1em;
    max-width: 1280px;
    width: 100%;
}


/* intro stuff */
.intro {
    text-align: center;
}

.story-form--input {
	font-size: 1em;
	line-height: 1.4;
	width: 50%;
}

.thinking {
	margin: 1em 0;
	color: #666;
}



/* canvas stuff */
.sim-canvas {
    position: relative;
    margin: 0 auto;
}

.canvas--image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 0;
}

.canvas--watermark {
    position: absolute;
    right: 1em;
    top: 1em;
    opacity: 0.7;
    max-width: 8%;
}

.canvas--watermark img {
    width: 100%;
    display: block;
}

.canvas--quote {
    display: inline-block;
    position: absolute;
    padding: 1em;
    font-size: 28px;
    line-height: 1.4;
}

.canvas--quote p {
    margin: 0;
}

.quote--text {
    font-size: 1em;
}

.quote--attribution {
    color: #eee;
    text-align: right;
    font-size: 0.8em;
}

.quote--attribution:empty {
    display: none;
}

.quote--attribution:before {
    content: '\02014';
    display: inline-block;
}


/* options */

.sim-canvas.light-on-dark {
    background: #1a1a1a;
}

.sim-canvas.dark-on-light {
    background: #fff;
}

.sim-canvas.top .canvas--quote {
    top: 0;
    bottom: auto;
}

.sim-canvas.middle .canvas--quote {
    top: 50%;
    bottom: auto;
}

.sim-canvas.bottom .canvas--quote {
    bottom: 0;
    top: auto;
}

.sim-canvas.top .canvas--watermark {
    bottom: 1em;
    top: auto;
}

.dark-on-light .canvas--quote {
	color: #1a1a1a;
}

.light-on-dark .canvas--quote {
	color: #fff;
}

.light-on-dark .quote-attribution {
	color: #ccc;
}

.dark-on-light .quote-attribution {
	color: #444;
}

.canvas--quote.text-shadow p {
    text-shadow: 0 0 6px #1a1a1a;
}

.canvas--quote.left {
    left: 0;
    right: auto;
    text-align: left;
}

.canvas--quote.center {
    width: 100%;
    text-align: center;
}

.canvas--quote.center .quote--attribution {
    text-align: center;
}

.canvas--quote.right {
    right: 0;
    left: auto;
    text-align: right;
}



/* GUI */
.sim-ui {
	font-size: 0.9em;
    margin: 2em auto;
    border-bottom: 1px dashed #ccc;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

/*.options--set {
    height: 100%;
    overflow: hidden;
}*/

.options--item {
    float: left;
    margin-right: 2em;
    margin-bottom: 0.5em;
}

.options--item span {
    display: block;
}

.options--item input {
	font-size: 0.9em;
	line-height: 1.4;
	padding: 0 0.25em;
}

.selected, .selected:hover {
    background-color: #666;
    color: #fff;
}

.sim-finish, .sim-output {
    margin: 2em 0;
    text-align: center;
}

.sim-output p {
	/* CUSTOM FONT HERE */
	font-family: 'Benton', Helvetica;
	color: #666;
	margin-bottom: 1em;
}